apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io # Cleanup on deletion
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 79.7.0
    helm:
      values: "grafana:\n  enabled: true\n  ingress:\n    enabled: false \n  grafana.ini:\n    server:\n      root_url: https://grafana.kroknes.dev\n      serve_from_sub_path: false\n    auth:\n      disable_login_form: false\n    auth.anonymous:\n      enabled: false\n    auth.github:\n      enabled: true\n      allow_sign_up: true\n      auto_login: false\n      scopes: user:email,read:org\n      auth_url: https://github.com/login/oauth/authorize\n      token_url: https://github.com/login/oauth/access_token\n      api_url: https://api.github.com/user\n      allowed_organizations: kroknes\n      client_id: $__env{GF_AUTH_GITHUB_CLIENT_ID}\n      client_secret: $__env{GF_AUTH_GITHUB_CLIENT_SECRET}\n  envFromSecret: grafana-github-oauth\n  envRenderSecret:\n    GF_AUTH_GITHUB_CLIENT_ID: client_id\n    GF_AUTH_GITHUB_CLIENT_SECRET: client_secret\nprometheus:\n  enabled: true\n  prometheusSpec:\n    retention: 7d # Keep metrics for 7 days\n    storageSpec:\n      volumeClaimTemplate:\n        spec:\n          accessModes: [\"ReadWriteOnce\"]\n          resources:\n            requests:\n              storage: 3Gi\n    resources:\n      requests:\n        cpu: 200m\n        memory: 512Mi\n      limits:\n        cpu: 1000m\n        memory: 2Gi\nalertmanager:\n  enabled: true\n  alertmanagerSpec:\n    storage:\n      volumeClaimTemplate:\n        spec:\n          accessModes: [\"ReadWriteOnce\"]\n          resources:\n            requests:\n              storage: 2Gi\nnodeExporter:\n  enabled: true\nkubeStateMetrics:\n  enabled: true\nkubeEtcd:\n  enabled: false\nkubeControllerManager:\n  enabled: false\nkubeScheduler:\n  enabled: false\n"
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
